.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #15232d;
    color: #fff;
    font-family: Arial, sans-serif;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar {
    margin-left: 1rem;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin-right: 1rem;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
}

.nav-menu li a:hover {
    color: #7fb6d6;
}